<app-recipe-header></app-recipe-header>

<ion-content>
    <ion-list lines="full" id="directions">
        <ion-item>
            <ion-label slot="start"></ion-label>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim necessitatibus facilis eos error in dolore tempora amet accusamus voluptates, repudiandae eum omnis dolorem deleniti! Rem, rerum perferendis. Blanditiis, suscipit beatae.</p>
        </ion-item>

        <!-- for testing -->
        <ion-item>
            <ion-label slot="start"></ion-label>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim necessitatibus facilis eos error in dolore tempora amet accusamus voluptates, repudiandae eum omnis dolorem deleniti! Rem, rerum perferendis. Blanditiis, suscipit beatae.</p>
        </ion-item>
    </ion-list>
</ion-content>
