<ion-header>
    <ion-toolbar>
        <ion-title>My Recipes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- The categories of recipes available for the user. -->
    <ion-slides [options]="categorySlideOpts" class="recipe-slider">
        <ion-slide *ngFor="let i of [1, 2, 3, 4, 5]">
            <div class="recipe-card">
                <div
                    [ngStyle]="{ 'background-image': 'url(/assets/shapes.svg)' }"
                    class="background-image ion-activatable ripple-parent">
                    <ion-ripple-effect></ion-ripple-effect>
                </div>
                <h4 class="recipe-title">Category</h4>
            </div>
        </ion-slide>
    </ion-slides>

    <!-- The categories of recipes available for the user. -->
    <ion-slides [options]="recipeSlideOpts" class="recipe-slider">
        <ion-slide *ngFor="let i of [1, 2, 3, 4, 5]">
            <div class="recipe-card">
                <div
                    [ngStyle]="{ 'background-image': 'url(/assets/shapes.svg)' }"
                    class="background-image ion-activatable ripple-parent">
                    <ion-ripple-effect></ion-ripple-effect>
                </div>
                <h4 class="recipe-title">Recipe</h4>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>
