.recipe-slider {
    --slides-margin: 8px;
    --border-radius: 6px;
    
    padding: var(--slides-margin, 8px);

    .recipe-card {
        flex: 1;
        margin: var(--slides-margin, 8px);

        .background-image {
            background-color: var(--ion-color-medium);
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: var(--border-radius, 4px);
            overflow: hidden;
            padding-bottom: 100%;
            position: relative;
        }

        .recipe-title {
            text-align: left;
            margin: var(--slides-margin, 8px) 0 0;
        }
    }
}